@import 'utils/scss/color.scss';
.siderMenu {
  :global {
    .ant-menu-dark {
      .ant-menu-item,
      .ant-menu-submenu-title {
        margin-bottom: 0;
        margin-top: 0;
        height: 40px;

        line-height: 40px;
        color: #fff;
        &:hover {
          background-color: $themeActive;
        }
        .ant-menu-submenu-arrow {
          opacity: 1;
        }
      }
      .ant-menu-item {
        a {
          color: #fff;
        }
      }
    }
    .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
      background-color: transparent;
    }
    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
      box-shadow: none;
    }
  }
}
